input {
    margin: 0.5em;
}

    input[type=submit] {
        background-color: rgb(66,139,202);
        border: 0;
        padding: .5em;
        color: white;
    }

select {
    margin: 0.5em 0.5em 0;
    padding: .5em;
}

.field-validation-error {
    padding: 0.5em;
    width: 100%;
    display: block;
    color: red;
}

.input-validation-error {
    background-color: #ffd6d6;
}

aside ul {
    padding: 0;
}

    aside ul li {
        list-style-type: none;
        margin: .5em 1em;
    }

.left.carousel-control,
.right.carousel-control {
    background-image: none;
   
}
.navbar-brand {
    background: url('../Imagens/logo_bom.png');
      background-repeat: no-repeat;
    width: 200px; height:55px;
}

.navbar-dark {
    background-color: #135b28;
    border-color: #135b28;
     color: white;
}
.navbar-link {
    font-size: 18px;
    color: #ffd6d6;
}
.panel-body {
   
    background-color: #135b28;
    /*border-color: #135b28;*/
    color: #69b27f;
   }

body {
    /*padding-top: 355px;*/
    background: url('../Imagens/fundo_r.png') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 95%;
    background-color: #135b28;
}








